.table-row {
    /* Set the display to `table-row` because Vuetify makes `flex` */
    display: table-row;
}

.table-row:hover {
    background-color: rgb(200, 200, 200);
}

tbody tr:nth-of-type(even) {
    background-color: rgb(224, 224, 224);
    color: darkgray;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(248, 248, 248);
    color: darkgray;
}

thead tr div.v-progress-linear {
    color: red;
}

.font-weight-bold {
    font-weight: bold;
}

.color-orange {
    color: orange;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-black {
    color: black;
}
